<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <Playwright>
    <BrowserName>chromium</BrowserName>
    <LaunchOptions>
      <Headless>true</Headless>
    </LaunchOptions>
  </Playwright>
  <TestRunParameters>
    <Parameter name="BaseUrl" value="http://localhost:5296" />
  </TestRunParameters>
</RunSettings>
